body {
	background-color: #DEE3DF;
}

.nav{
	padding: 50px
}
#logo{
	width: 200px;
	display: block;
	margin: auto;
	/*margin-left: 40%*/
}
.register-form {
	width: 480px;
	margin:auto;
}

.input-group{
	margin:22px;
	min-width: 200px; 
}

#title {
	text-align: center;;
	display: inline;
	margin-left: 45%;
	font-size: 60px;
	color: #ffffff;
	text-shadow: 1px 1px 4px black;
	text-decoration: none;
}

#login-btn{
	margin: 20px;
	margin-left: 48.5%;
	display: inline-block;
	margin-right: 10%;

}
#reg-title{
	font-size: 30px;
	text-align: center;
	color: #585757;
}
div[class="alert alert-danger"]{
	display:none;
}

